<!-- <div class="row">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-rss"></i> News</h6>
            <div class="card-body p-5">
                <div class="row">
                    <div class="col">
                        <div class="text-profile-bio mt-3" {% if site.data.profile.short_bio_text_justify %}style="text-align: justify;"{% endif %}>
                            {{ site.data.profile.short_bio }}
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div> -->


<div class="my-3 bg-white shadow-sm rounded-sm">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-hippo"></i> Others about Me</h6>
    <div class="px-3 pb-1">
        <div class="text-profile-bio mt-3" {% if site.data.others.short_bio_text_justify %}style="text-align: justify;"{% endif %}>
            {{ site.data.others.short_bio }}
        </div>
    </div>
</div>

<!-- <div class="my-3 bg-white shadow-sm rounded-sm">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-hippo"></i> Others</h6>
    <div class="card border-0 shadow-sm bg-white">
        <div class="card-body p-5">
            <div class="text-profile-bio mt-3" {% if site.data.others.short_bio_text_justify %}style="text-align: justify;"{% endif %}>
                {{ site.data.others.short_bio }}
            </div>
        </div>
    </div>      
</div> -->